.App {
min-height: 100vh;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
padding: 40px;
font-size: 16px;
background-image: linear-gradient(to top, #599ee2 0%, white 100%);
}
h1{
color: forestgreen;
}
input{
padding-left: 5px;
font-size: 20px;
width: 250px;
height: 30px;
}
table{
width: 1000px;
border-collapse: separate;
border-spacing: 0 1em;
}
thead{
background-color: rgb(44, 44, 44);
color: white;
text-align: center;
}
tbody > tr{
text-align: right;
color: rgb(22, 24, 22);

}
.rank{
text-align: center;
font-weight: bold;
}
.logo{
display: flex;
justify-content: flex-start;
padding-left: 10%;
gap: 10px;
}
.symbol{
text-align: center;
}
.oncoinclick{
    width: 60px;
    height: 30px;
    background: #ffffff;
    border-radius: 7px;

    box-shadow: 1px 1px 1px #000000;
    display: block;
    text-align: center;
    background-image: linear-gradient(to bottom, #e8e8e8, #a1a1a1);
    font-family: arial;
    font-size: 14px;
    line-height: 30px;

}
.oncoinclick:hover {
    background-image: linear-gradient(to bottom, #97e8ae, #054d05);
    cursor: pointer;
  }