form {
	border: 1px solid #ccc;
}
.allRegister {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.containerForAllRegister {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	margin-bottom: 4.2%;
}
/* Full-width input fields */
input[type=text],
input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}
.clearfix {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
/* Set a style for all buttons */
button {
	background-color: rgb(29, 28, 28);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border-radius: 30px;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}

/* Add padding to container elements */
.container {
	padding: 16px;
	color: black;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.containerForRegisteringAccepted {
	height: 78.3vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.containerForRegisteringAccepted p {
	border-radius: 20px;
	font-size: 50px;
	background-color: rgb(61, 61, 60);
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
	.cancelbtn,
	.signupbtn {
		width: 100%;
	}
}