.item{
    color: rgb(180, 19, 19)
    
}
.BuyP{
    color: aqua;

}
.OrderSelector {
    width: 10vw;
    height: 5vh;
    
}

.img.svg{
    width: 100px;
background-color: tomato;
}
svg{
  color: bisque;
}